.game__first__section--header {
    font-family: bebas-neue-bold;
    @include font-size-small
}

.game__first__section--subheader {
  @include font-size-highter;
  font-family: bebas-neue-bold;

}

.game__first__section__paragraph--detail {
    font-family: opensans-regular;
    font-weight: normal;
    line-height: 16px;
    text-align: justify;
    font-size: 14px;
   
}

.game__first__section {
    background-image: url(../css/images/bg_big_first.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
.second__section__info {
  margin-inline-start: 3rem;
}

.container {
  background: rgba(10, 0, 0, 0.8);
  top: 0;
  left: 0;
  padding: 32px;
}

.game__first__section--paragraph {
   border-top: 3px solid white;
}



.game__image {
    max-width: 100%;
    max-height: 100%;
}

.game__images__lists {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: calc(100% * 273 / 249);
    padding-top: 50%;
}

.game__images__list {
    position: absolute;
}


.game__images__screenshot1 {
     top: 0;
     left: 0;
     right : calc(100% * 24 / 249);
     z-index: 3;
     
   
}

.game__image {
    max-width: 100%;
    display: block;
}
.game__images {
    max-width: 100%;
}

.game__images__screenshot2 {
  z-index: 2;
  top: 55%;
  transform: translateY(-50%) scale(calc(249 / 273));
  right: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  transform-origin: 100% 0%;
 
}

.game__images__screenshot3 {
  z-index: 1;
  top: calc(100% * 23 / 249);
  left: calc(100% * 23 / 249);
  bottom : calc(100% * 23 / 249);
}

.game__images__screenshot1,
.game__images__screenshot2,
.game__images__screenshot3 {
  max-width: 100%;
   display: block
}




