.game__fith__section {
    background-image: url(../css/images/bg-image_fith.png);
    background-repeat: no-repeat;
    background-size: 90%;
    color: white;
    background-position-x: -100px;
    min-height: 523px
}

.game__fith__form, .game__email {
    margin-inline-end: 2rem;
}
.game__fith__form {
  padding-block-start: 12rem;
}
.game__fith__section--header {
   font-family: bebas-neue-bold;
   @include font-size-small
}

.game__fith__section--subheader {
    font-family: bebas-neue;
    @include  font-size-highter
}
.game__fith__section--paragraph {
    font-family: opensans-regular;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}


.fith__container {
   background: radial-gradient(30% 30.19% at 20% 15%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 80.15%, #080A0B 130.74%);
   padding-bottom: 30px;
   padding-top: 1rem;
   min-height: 523px;

}

input {
    background-color: rgb(92, 91, 91);
    border-radius: 2.94008px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    
}
input[value="aliciliniavopir@gmail.com"]{
    color: #FFB548;
    padding-block-start: 1rem;
    font-family: opensans-regular;
    padding-inline-start: 1rem;
    text-align: center;
}
.game__email{
   text-align: center;
   margin: 1rem;
}

.game__label {
    position: absolute;
    color: #FFFFFF;
    opacity: 0.5;
    margin-inline-start: 8rem;
    margin-block-start: 8px;
    font-family: opensans-regular ;
    font-size: 12px;
    line-height: 16px;
    
}

.game__fith__section--header,
.game__fith__section--subheader,
.game__fith__section--paragraph {
   margin-inline-start: 150px;
}

.game__button__subscribe {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-inline-start: 5%;
    
}

.button__container {
    text-align: center;
    margin-bottom: 0;
}


@media (min-width : 1100px)  {
    .game__fith__section {
        background-size: 30%;
        background-position-x: 20px;
        
    }

    .fith__container {
        background: radial-gradient(45% 200% at 15% 35%, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0) 1.15%, #080A0B 30%);
        padding-bottom: 30px;
        padding-top: 1rem;
        min-height: 523px;
       
   
}

.game__fith__information {
    float: right;
    margin-inline-start: 500px;
    margin-block-start: 50px; 
    margin-inline-end: 100px;  

}

.game__fith__form {
    margin-inline-start: 50px;
}

.button__container {
    margin-inline-start: 3rem;
}

.game__fith__form {
    display: flex;
    margin-inline-start: 2rem;
}

.game__email {
    margin-inline-start: 10rem;
    
    
}

.game__button__subscribe, input {
    min-width: 250px;
    
    
}

.game__button__subscribe {
   margin-block-start: 1rem;
}

.game__label {
    margin-inline-start: 5rem;
}

.input {
    padding-block-end: 30px;
    padding-block-start: 30px;
}

.game__fith__form {
    
}

}