.game__fith__section {
    background-image: url(../css/images/bg-imag_fith.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 523px;
    
}

.fith__container {
    background-color: rgb(14, 13, 13);
    margin-inline-start: calc(230px / 2);
    height: 523px;

}

.game__fith {

}