@font-face {
    font-family: bebas-neue;
    font-weight: 400;
    font-style: normal;
    src: url(../css/fonts/bebas-neue1.woff) format('woff');
}

@font-face {
    font-family: bebas-neue;
    font-weight: 700;
    font-style: normal;
    src: url(../css/fonts/bebasneuebold.woff) format('woff');
}

  
@font-face {
    font-family: open-sans;
    font-weight: 700;
    font-style: normal;
    src: url(../css/fonts/open-sans.woff) format('woff');
}

@font-face {
    font-family: open-sans;
    font-weight: 400;
    font-style: normal;
    src: url(../css/fonts/open-sans.woff) format('woff');
}