.footer__game {
    background-color: black;
    color: white;
    
}

.footer__game__paragraph {
    font-family: opensans-regular;
    opacity: 0.5;
    font-size: 12px;
    line-height: 16px;
}

.footer__image {
    text-align: center;
}

.footer__game__navigation {
    font-family: opensans-regular;
}

.footer__game__list, .footer__game__navigation__communication--list {
    list-style: none;
}

.footer__game__link {
    text-decoration: none;
    color:  #FFFFFF;
}