.footer__game {
    background-color: black;
    color: white;
    
}

.footer__game__paragraph {
    font-family: opensans-regular;
    opacity: 0.5;
    font-size: 12px;
    line-height: 16px;
    padding-top: 1rem;
   
   
}
.footer__game__container {
     display: flex;
}

.footer__game__container2 {
    
}

.footer__link__container {
    display: flex;
}

.footer__image {
    max-width: 10%;
}

.footer__game__image__container {
    text-align: center;
    padding-block-start: 1rem;
}

.footer__game__navigation {
    font-family: opensans-regular;
    margin-inline-end: 1rem;
    margin-inline-start: 0;
    letter-spacing: 0.1em;
    font-size: 12px;
    line-height: 16px;
    
    
}

.footer__game__list, .footer__game__navigation__communication--list {
    list-style: none;
    margin-inline-start: 28.33px;
    margin-inline-end: 28.33;
   
}

.footer__game__list {
  display: flex;
  text-transform: uppercase;
  margin-right: 1rem;
  padding-inline-start: 0;
  margin-inline-end: 1.5rem;
  flex-wrap: wrap;



}

.main {
    margin-inline-start: 0;
}

.footer__game__navigation__communication--list {
  display: flex;
  margin-inline-start: 0;
  padding-inline-start: 100px;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 0;

}

.footer__game__navigation__communication--list {
    margin-inline-start: 1.5rem;
}

.main,
.about,
.feature,
.quote,
.system {
    margin-right: 1rem;
    padding: 1rem;
}



.footer__game__list--information1 {
    margin-inline-end: 1rem;
    margin-right: 3rem;
    
}


.footer__game__link {
    display: flex;
    text-decoration: none;
    color:  #FFFFFF;
    width: 2.5rem;
}

.footer__game__link1 {
    display: flex;
    text-decoration: none;
    color:  #FFFFFF;
    
    
}



.footer__game__list--communication {
    text-indent: -9999px;
    margin-inline-start: 4rem;
   
}


.facebook {
    background-image: url(../css/images/facebook.png);
    background-repeat: no-repeat;
    margin-inline-start: 0;

}

.twitter {
  background-image: url(../css/images/twitter.png);
  background-repeat: no-repeat;
}

.vector {
  background-image: url(../css/images/vector.png);
  background-repeat: no-repeat;
}

.message {
  background-image: url(../css/images/twitch.png);
  background-repeat: no-repeat;
}

.footer__game__navigation__security {
    list-style: none;
    padding-bottom: 1rem;
 
}



.footer__game__list__security {
    color:  #FFFFFF;
    list-style: none;
    font-family: open-sans;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
}

.footer__game__link__security {
      text-decoration: none;
      color: white;
      
}

.footer__game__container2 {
    border-top: gray 1px solid;
}

@media (min-width : 1100px) {
    .footer__game__container {
        display: block;
    }

    .footer__game {
        padding-top: 1rem;
    }

    .footer__game__image__container {
        float: left;
    }

    .footer__image {
        max-width: 30%;
    }

    .footer__game__list__security {
    color:  #FFFFFF;
    list-style: none;
    font-family: open-sans;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 0.1em;
   
    
}

.footer__image {
    padding-bottom: 2rem;
}


.footer__game__image__container {
    padding-block-start: 0;
    
}

.footer__game__lists__of__security {
    display: flex;
    
}

.footer__game__container2 {
    display: flex;
    border-top: gray 1px solid;
    justify-content: space-between;
}

.footer__game__navigation__security {
    margin-inline-end: 4rem;
}

}