@import "mixing";

.masthead {
  background-image: url(../css/images/bg-jungleruins.png);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  padding-inline-start: 4rem;
  padding-block-start: 1rem;

  
  
 
}

.logo__game__title {
  font-family: bebas-neue;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 18px;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 33px;
  line-height: 33px;
  align-items: center;

  
}


 
.logo-navigation {
  background-repeat:no-repeat;
   
}

.logo__game__button {
  background-color: rgb(248, 177, 45);
  border-radius: 5px;
  max-width: 216px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}

.masthead__secondpart {
   text-align: center;

}

.logo__game__lists {
  @include list;
  
}

.logo__game__list {
  margin: 8px;
}

.logo__story {
  background-image: url(../css/images/scroll_down.png);
  background-repeat: no-repeat;
  background-position: 15px 30px;
  max-width: 100px;
  text-transform: uppercase;
  font-family: bebas-neue;
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 2px;

  
 
}

.logo__game__navigation {
  margin-inline-end: 1rem;
}

.logo__game__subtitle {
  font-family: bebas-neue;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  justify-content: center;
  text-align: center;
  position: relative;
}


/* This is for destop */

.masthead {
  
}
@media (min-width : 1100px) {
.masthead__thirdpart {
  position: relative;
}

.logo__story {
  text-align: center;
  justify-content: center;
  
  
  
}

.logo__game__navigation {
  display: none;
}


.masthead__thirdpart {
  justify-content: center;
  text-align: center;
  
}

.logo__story {
  justify-content: center;
  text-align: center;
  align-items: center;
}



}