

.logo__navigation__list {
    display: flex;

}


.logo__link_main,
.logo__link_about,
.logo__link_feature,
.logo__link_system,
.logo__link_quote{
    display: none;
}
  

.logo__game__header {
 background-image: url(../css/images/logo.svg);
 background-repeat: no-repeat;
 text-indent: -999px;
 text-decoration: none;
 display: block;
}

.game__languages__choice {
    float: right;
    position: relative;
    bottom: 50px;
    right: 100px;
}


.game__icone,.game__icon {
    display: none;
}

select {
    color: white;
    background-color: transparent;
    border: transparent;
    top: 0;
}

svg {
  position: absolute;
  top: 16px;
  right: 2rem;

}

option {
    background-color: black;
}

.masthead__thirdpart {
   display: flex;
   justify-content: space-between;
}

.bar {
  float: right;
  bottom: 50px;
  position: relative;
  right: 10px;;
}





@media (min-width : 1100px) {
    .game__box__union {
    display: block;
}

.bar-icon {
  display: none;
}

.game-icon2 {
    right: 80px;
}
.game__icon  {
  display: block;
  right: 20px;
}

.game__icone{
    display: block;
    right: 10px;
}


.game__box__union {
   right: 50px;
}

.game__languages__choice{
    margin-inline-end: 3rem;
    bottom: 100px;
}

.bar {
   bottom: 100px; 
} 


.logo__link_main,
.logo__link_about,
.logo__link_feature,
.logo__link_system,
.logo__link_quote{
    display: block;
    font-family: open-sans;
    text-transform: uppercase;
    margin: 1rem;
    
    
}

.masthead__firstpart__list {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    bottom: 130px;
  
}

}