
.asthead__firstpart {
    padding: 1rem;
}
.logo__navigation__list {
    display: flex;

}

.masthead__secondpart {
    padding-block-start: 200px;
  
}



.logo__link_main,
.logo__link_about,
.logo__link_feature,
.logo__link_system,
.logo__link_quote{
    display: none;
}
  

.logo__game__header {
   left: 0; 
   margin-inline-start: 1rem;
   margin-block-end: 3rem;
   position: absolute;
   margin-top: 0;
}

.game__languages__choice {
    float: right;
    position: relative;
    bottom: 25px;
    right: 100px;
}


.game__icone,.game__icon {
    display: none;

}

select {
    color: white;
    background-color: transparent;
    border: transparent;
    top: 0; 
    position: relative;
}

svg {
  position: absolute;
  top: 16px;
  right: 1rem;


}

option {
    background-color: black;
}

.masthead__thirdpart {
   display: flex;
   justify-content: space-between;
   padding-block-start: 100px;
   padding-block-end: 50px;
}

.bar {
  float: right;
  margin-block-start: -50px;

 
}
.bar-image {
  left: 4rem;
  top:0;
  position: relative;
}




@media (min-width : 1100px) {

    select {
    color: white;
    background-color: transparent;
    border: transparent;
    top: 3rem; 
    right: inherit;
    position: absolute;
}
    .game__box__union {
    display: block;
}

.logo__game__header {
 background-size: 50%;
 height: 100px;
}

.bar-icon {
  display: none;
}

.game-icon2 {
    right: 80px;
}
.game__icon  {
  display: block;
  right: 20px;
  
}
.logo__story__game__paragraph {
    align-items: center;
    text-align: center;
}

.game__icone{
    display: block;
    right: 10px;
}


.game__box__union {
   right: 50px;
}

.game__languages__choice{
    margin-inline-end: 3rem;
    bottom: 100px;
}

.bar {
   bottom: 100px; 
} 


.logo__link_main,
.logo__link_about,
.logo__link_feature,
.logo__link_system,
.logo__link_quote{
    display: block;
    font-family: open-sans;
    text-transform: uppercase;
    margin: 1rem;
    
    
}

.masthead__firstpart__list {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    bottom: 130px;
  
}

}