

.logo__navigation__list {
    display: flex;

}

.logo__game__header {
    width: 100px;
    height: 50px;
}

.logo__link_main,
.logo__link_about,
.logo__link_feature,
.logo__link_system,
.logo__link_quote{
    display: none;
}
  

.logo__game__header {
 background-image: url(../css/images/logo.svg);
 background-repeat: no-repeat;
 text-indent: -999px;
 text-decoration: none;
 display: block;
}

.game__languages__choice {
    float: right;
    position: relative;
    bottom: 80px;
    right: 100px;
}

.game__box__union {
    display: none;
}

select {
    color: white;
    background-color: transparent;
    border: transparent;
    top: 0;
}

svg {
  position: absolute;
  top: 16px;
  right: 2rem;

}

.game__languages__choice {
    
}

.masthead__thirdpart {
   display: flex;
   justify-content: space-between;
}

.bar {
  float: right;
  bottom: 80px;
  position: relative;
  right: 10px;;
}
