.game__second__section {
    background-image: url(../css/images/bg_image_big.png);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-position-x: -200px;

}


.game__second__section__container {
    padding-block-start: 1rem;
    height: 600px;
    padding-inline-start: 190px;
    background: radial-gradient(50.45% 70.77% at 31.45% 10.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
}

.game__second__section__header {
    font-family: bebas-neue;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 18px;
    color: white;
}

.game__second__section__navigation {
    list-style: none;
    padding-inline-start: 48px;
}

.game__second__section__header--info {
    font-family: bebas-neue;
    letter-spacing: 3px;
    font-size: 33px;
    color: white;
}

.game__second__section__navigation--list {

}

.game__second__section__summary {
    color: #FFB548;
    font-family:  bebas-neue;
    letter-spacing: 2px;
    line-height: 21px;
    font-size: 21px;
}

.game__second__section__detail {
    color: white;
    font-family: open-sans;
}

.second__section__info {
    margin-inline-start: 120px;
}

summary::-webkit-details-marker {
    display: none;
}

.game__second__section__summary {
   position: relative;
}

.game__second__section__summary::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    border: 3px solid white;
    top: 0;
    left: -3rem;
    
  
}

@media (min-width : 1100px) {
    .game__second__section {
    background-size: cover;
    min-height: 960px;
   
}
.game__second__section__container {
    padding-block-start: 1rem;
    min-height: 960px;
    background: radial-gradient(100% 100% at 10.45% 60.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
}

.game__second__section__detail,
.game__second__section__header  {
    margin-inline-start: 500px;
}





}
