.game__third__section {
    background-image: url(../css/images/bg_image_3big.png);
    background-size: cover;
    padding-block-start: 1rem;
    color: white;
    margin-block-start: -2rem;
    text-align: center;
    align-items: center;
}

.game__third__section--header {
    font-family: bebas-neue-bold;
    @include font-size-small;
    color: #FFFFFF;
    
}

.game__third__section--subheader {
    font-family: bebas-neue-bold;
    @include font-size-highter;
}

.game__third__section__table--header {
    color:  #FFB548;
    text-transform: uppercase;
    font-family: bebas-neue-bold;
    @include font-size-small
}