@font-face {
  font-family: bebas-neue;
  font-weight: 400;
  font-style: normal;
  src: url(../css/fonts/bebasneueregular.woff) format("woff"); }

@font-face {
  font-family: bebas-neue-bold;
  font-weight: 700;
  font-style: normal;
  src: url(../css/fonts/bebasneuebold.woff) format("woff"); }

@font-face {
  font-family: open-sans;
  font-weight: 700;
  font-style: normal;
  src: url(../css/fonts/open-sans.woff) format("woff"); }

@font-face {
  font-family: opensans-regular;
  font-weight: 400;
  font-style: normal;
  src: url(../css/fonts/opensans-regular.woff) format("woff"); }

.masthead {
  background-image: url(../css/images/bg-jungleruins.png);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  padding-inline-start: 2rem;
  padding-block-start: 1rem;
  margin: auto; }

.logo__game__title {
  font-family: bebas-neue-bold;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  align-items: center;
  line-height: 33px;
  font-size: 33px;
  letter-spacing: 3px; }

.logo__game__subtitle {
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #FFFFFF; }

.logo-navigation {
  background-repeat: no-repeat; }

.logo__game__button {
  background-color: #f8b12d;
  border-radius: 5px;
  max-width: 216px;
  font-weight: 700;
  justify-content: center;
  text-align: center; }

.masthead__secondpart {
  text-align: center; }

.logo__game__lists {
  list-style: none;
  display: flex; }

.logo__game__list {
  margin: 8px; }

.logo__story {
  background-image: url(../css/images/scroll_down.png);
  background-repeat: no-repeat;
  background-position: 15px 30px;
  text-transform: uppercase;
  font-family: bebas-neue;
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 2px; }

.masthead__thirdpart {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: 50% 50%;
  display: block; }

.logo__game__navigation {
  margin-inline-end: 1rem; }

.logo__game__subtitle {
  font-family: bebas-neue;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  justify-content: center;
  text-align: center;
  position: relative; }

/* This is for destop */
@media (min-width: 1100px) {
  .masthead__thirdpart {
    position: relative; }
  .logo__story {
    text-align: center;
    justify-content: center; }
  .masthead__firstpart__list {
    font-family: opensans-regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em; }
  .logo__game__navigation {
    display: none; }
  .masthead__thirdpart {
    justify-content: center;
    text-align: center; }
  .logo__story {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-inline-start: auto;
    margin-inline-end: auto; } }

.asthead__firstpart {
  padding: 1rem; }

.logo__navigation__list {
  display: flex; }

.masthead__secondpart {
  padding-block-start: 200px; }

.game__menu {
  right: 16px; }

.bar {
  right: 1rem; }

.logo__link_main,
.logo__link_about,
.logo__link_feature,
.logo__link_system,
.logo__link_quote {
  display: none; }

.logo__game__header {
  left: 0;
  margin-inline-start: 1rem;
  margin-block-end: 3rem;
  position: absolute;
  margin-top: -9px; }

.game__languages__choice {
  float: right;
  position: relative;
  bottom: 25px;
  right: 100px; }

.game__icone, .game__icon {
  display: none; }

select {
  color: white;
  background-color: transparent;
  border: transparent;
  top: 0;
  position: relative; }

svg {
  position: absolute;
  top: 24px;
  right: 8rem; }

option {
  background-color: black; }

.masthead__thirdpart {
  display: flex;
  justify-content: space-between;
  padding-block-start: 100px;
  padding-block-end: 50px; }

.bar-image {
  left: 4rem;
  top: 0;
  position: relative; }

.bar {
  background-color: white;
  height: 2rem;
  width: 1px;
  display: block;
  position: absolute;
  right: 5rem;
  top: 1.5rem; }

@media (min-width: 1100px) {
  select {
    color: white;
    background-color: transparent;
    border: transparent;
    top: 3rem;
    right: inherit;
    position: absolute; }
  .game__box__union {
    display: block; }
  .logo__game__header {
    background-size: 50%;
    height: 60px;
    width: 10%; }
  .bar-icon {
    display: none; }
  .game-icon2 {
    right: 80px; }
  .game__icon {
    display: block;
    right: 20px; }
  .logo__story__game__paragraph {
    align-items: center;
    text-align: center; }
  .game__icone {
    display: block;
    right: 10px; }
  .game__box__union {
    right: 50px; }
  .game__languages__choice {
    margin-inline-end: 3rem;
    bottom: 100px; }
  .bar {
    right: 13rem; }
  .logo__link_main,
  .logo__link_about,
  .logo__link_feature,
  .logo__link_system,
  .logo__link_quote {
    display: block;
    font-family: open-sans;
    text-transform: uppercase;
    margin: 1rem; }
  .masthead__firstpart__list {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    bottom: 130px; }
  .game__menu {
    display: none; } }

body {
  margin: 0; }

.game__first__section--header {
  font-family: bebas-neue-bold;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 2px; }

.game__first__section--subheader {
  line-height: 33px;
  font-size: 33px;
  letter-spacing: 3px;
  font-family: bebas-neue-bold; }

span {
  font-weight: 700; }

.game__first__section__paragraph--detail {
  font-family: opensans-regular;
  font-weight: normal;
  line-height: 16px;
  text-align: justify;
  font-size: 14px; }

.game__first__section {
  background-image: url(../css/images/bg_big_first.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: auto; }

.container {
  background: rgba(10, 0, 0, 0.8);
  top: 0;
  left: 0;
  padding: 40px; }

.game__first__section--paragraph {
  border-top: 3px solid white; }

.game__images__lists {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.game__images__screenshot1 {
  top: 0;
  left: 0;
  z-index: 3; }

.game__image {
  max-width: 100%;
  display: block; }

.game__images {
  max-width: 100%; }

.game__images__screenshot2 {
  z-index: 2;
  top: 50%;
  transform: translateY(-50%) scale(calc(249 / 283));
  right: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  transform-origin: 100% 0%; }

.game__images__screenshot3 {
  z-index: 1;
  top: calc(100% * 10 / 249);
  left: calc(100% * 20 / 249);
  bottom: calc(100% * 23 / 249); }

.game__images__screenshot1,
.game__images__screenshot2,
.game__images__screenshot3 {
  max-width: 100%;
  display: block; }

.game__second__section {
  background-image: url(../css/images/bg_image_big.png);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: -200px; }

.game__second__section__container {
  padding-block-start: 1rem;
  height: 100%;
  padding-inline-start: 140px;
  padding-block-end: 50%;
  background: radial-gradient(50.45% 70.77% at 31.45% 10.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%); }

.game__second__section__header {
  font-family: bebas-neue;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 18px;
  color: white; }

.game__second__section__navigation {
  list-style: none;
  padding-inline-start: 3rem; }

.game__second__section__header--info {
  font-family: bebas-neue;
  letter-spacing: 3px;
  font-size: 33px;
  color: white;
  line-height: 33px; }

.game__second__section__navigation--list {
  margin-top: 32px; }

.game__second__section__summary {
  color: #FFB548;
  font-family: bebas-neue;
  letter-spacing: 2px;
  line-height: 21px;
  font-size: 21px; }

.game__second__section__detail {
  color: white;
  font-family: open-sans; }

.second__section__info {
  margin-inline-start: 120px; }

summary::-webkit-details-marker {
  display: none; }

.game__second__section__summary {
  position: relative; }

.game__second__section__summary::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  top: 0;
  left: -3rem; }

.game__second__section__detail {
  position: relative; }

details[open]::before {
  content: '';
  width: 2px;
  height: calc(100% + 32px);
  background-color: white;
  position: absolute;
  left: calc(0.5rem - 3rem); }

@media (min-width: 1100px) {
  .game__second__section {
    background-size: cover;
    height: 100%; }
  .game__second__section__container {
    padding-block-start: 1rem;
    height: 100%;
    background: radial-gradient(100% 100% at 10.45% 60.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%); }
  .game__second__section__container {
    padding-block-start: 258px; }
  .game__second__section__detail,
  .game__second__section__header {
    margin-inline-start: calc(1441.48px / 2); } }

.game__third__section {
  background-image: url(../css/images/bg_image_3big.png);
  background-size: cover;
  padding-block-start: 1rem;
  color: white;
  margin-block-start: -2rem;
  background-position: bottom;
  position: relative; }

.third_container {
  height: 710px; }

.game__third__section--header {
  font-family: bebas-neue-bold;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  justify-content: center; }

.game__third__section--subheader {
  font-family: bebas-neue-bold;
  line-height: 33px;
  font-size: 33px;
  letter-spacing: 3px;
  text-align: center;
  justify-content: center; }

.game__third__section__table--header {
  color: #FFB548;
  text-transform: uppercase;
  font-family: bebas-neue-bold;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 2px;
  margin-inline-start: 1rem;
  margin-block-start: 5px;
  margin-block-end: 0; }

table {
  border: 1px gray solid;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
  position: absolute;
  height: 317px; }

.game__third__section__tablerow {
  border-right: 1px gray solid; }

.game__third__section__table-paragraph {
  font-family: opensans-regular;
  font-size: 14px;
  line-height: 16px;
  margin-inline-start: 1rem;
  font-weight: normal; }

.game__third__section__tablecell {
  border-top: 1px gray solid;
  border-right: 1px gray solid; }

.game__third__section__tablecell--first-row {
  border-right: 1px gray solid; }

.game__third__section__tablecell--secondrowcol {
  border-top: 1px gray solid; }

.game__third__section__tablecell--lastrow {
  border-top: 1px gray solid; }

@media (min-width: 1100px) {
  .game__third__section__table {
    margin-block-start: 100px; } }

.game__fourth__section {
  background-image: url(../css/images/rectangle.png);
  padding-inline-start: 16px;
  height: 100%; }

.game__fourth__section--header {
  font-family: bebas-neue-bold;
  color: #FFFFFF;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 2px;
  margin-block-start: 0;
  padding-block-start: 16px; }

.game__fourth__section--subheader {
  font-family: bebas-neue;
  line-height: 33px;
  font-size: 33px;
  letter-spacing: 3px;
  color: #FFFFFF; }

.game__fourth__section--paragraph {
  color: #FFFFFF;
  font-family: opensans-regular; }

.game__fourth__section--button {
  background-color: #fcad1b;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center; }

.button {
  text-align: center;
  justify-content: center;
  align-items: center; }

.game__fourth__section__aboutperson {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin: 2rem; }

.game__fourth__section__aboutperson--name {
  color: #FFB548;
  font-family: bebas-neue;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  padding-block-start: 16px; }

.game__fourth__section__aboutperson--project {
  color: #FFFFFF;
  opacity: 0.5;
  font-family: opensans-regular;
  font-size: 14px;
  line-height: 22px; }

.game__fourth__section__aboutperson--info {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
  font-family: opensans-regular; }

.game__fourth__section__aboutperson--date {
  opacity: 0.5;
  color: #FFFFFF;
  padding-block-end: 16px; }

.game__fourth__section__aboutperson {
  background-image: url(../css/images/twiiter-gray.png);
  background-repeat: no-repeat;
  background-position: right 16px top 16px; }

.profile {
  float: left;
  margin: 16px;
  width: 40px;
  height: 40px; }

.game__fourth__section__aboutperson--info,
.game__fourth__section__aboutperson--date {
  padding-inline-start: 16px; }

.game__fourth__section__about--container {
  padding-block-end: 16px; }

@media (min-width: 1100px) {
  .game__fourth__section {
    columns: 2; }
  .lahti {
    max-height: 183px; }
  .game__fourth__secton__information {
    margin-block-start: 303px;
    margin-inline-start: 100px;
    margin-inline-end: 200px; }
  .game__fourth__section__about--container {
    padding-block-start: 160px; }
  .lahti {
    margin-inline-end: 79px; }
  .aaron {
    margin-inline-end: 119px;
    margin-inline-start: -1rem; }
  .jada {
    margin-inline-end: 225px;
    margin-inline-start: -5rem; }
  .game__fourth__section--button {
    margin-block-start: 4rem; } }

.game__fith__section {
  background-image: url(../css/images/bg-image_fith.png);
  background-repeat: no-repeat;
  background-size: 90%;
  color: white;
  background-position-x: -100px;
  min-height: 523px; }

.game__fith__form, .game__email {
  margin-inline-end: 2rem; }

.game__fith__form {
  padding-block-start: 12rem; }

.game__fith__section--header {
  font-family: bebas-neue-bold;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 2px; }

.game__fith__section--subheader {
  font-family: bebas-neue;
  line-height: 33px;
  font-size: 33px;
  letter-spacing: 3px; }

.game__fith__section--paragraph {
  font-family: opensans-regular;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF; }

.fith__container {
  background: radial-gradient(30% 30.19% at 20% 15%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 80.15%, #080A0B 130.74%);
  padding-bottom: 30px;
  padding-top: 1rem;
  min-height: 523px; }

input {
  background-color: #5c5b5b;
  border-radius: 2.94008px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%; }

input[value="aliciliniavopir@gmail.com"] {
  color: #FFB548;
  padding-block-start: 1rem;
  font-family: opensans-regular;
  padding-inline-start: 1rem;
  text-align: center; }

.game__email {
  text-align: center;
  margin: 1rem; }

.game__label {
  position: absolute;
  color: #FFFFFF;
  opacity: 0.5;
  margin-inline-start: 8rem;
  margin-block-start: 8px;
  font-family: opensans-regular;
  font-size: 12px;
  line-height: 16px; }

.game__fith__section--header,
.game__fith__section--subheader,
.game__fith__section--paragraph {
  margin-inline-start: 150px; }

.game__button__subscribe {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-inline-start: 5%; }

.button__container {
  text-align: center;
  margin-bottom: 0; }

@media (min-width: 1100px) {
  .game__fith__section {
    background-size: 30%;
    background-position-x: 20px; }
  .fith__container {
    background: radial-gradient(45% 200% at 15% 35%, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0) 1.15%, #080A0B 30%);
    padding-bottom: 30px;
    padding-top: 1rem;
    min-height: 523px; }
  .game__fith__information {
    float: right;
    margin-inline-start: 644px;
    margin-block-start: 50px;
    margin-inline-end: 100px; }
  .game__fith__form {
    margin-inline-start: auto;
    padding-block-start: 3rem; }
  .button__container {
    margin-inline-start: 2rem; }
  .game__fith__form {
    display: flex;
    margin-inline-start: auto; }
  .game__email {
    margin-inline-start: auto; }
  .game__button__subscribe, input {
    min-width: 250px; }
  .game__button__subscribe {
    margin-block-start: 1rem; }
  .game__label {
    margin-inline-start: auto; }
  .input {
    padding-block-end: 30px;
    padding-block-start: 30px; } }

.footer__game {
  background-color: black;
  color: white; }

.footer__game__paragraph {
  font-family: opensans-regular;
  opacity: 0.5;
  font-size: 12px;
  line-height: 16px;
  padding-top: 1rem; }

.footer__image {
  max-width: 30%; }

.footer__game__image__container {
  text-align: center;
  padding-block-start: 1rem; }

.footer__game__navigation {
  font-family: opensans-regular;
  margin-inline-end: 1rem;
  margin-inline-start: 0;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 16px; }

.footer__game__list, .footer__game__navigation__communication--list {
  list-style: none;
  margin-inline-start: 28.33px;
  margin-inline-end: 28.33; }

.footer__game__list {
  display: flex;
  text-transform: uppercase;
  margin-right: 1rem;
  padding-inline-start: 0;
  margin-inline-end: 1.5rem;
  flex-wrap: wrap; }

.main {
  margin-inline-start: 0; }

.footer__game__navigation__communication--list {
  display: flex;
  margin-inline-start: 0;
  padding-inline-start: 100px;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 0; }

.footer__game__navigation__communication--list {
  margin-inline-start: 2.5rem; }

.main,
.about,
.feature,
.quote,
.system {
  margin-right: 1rem;
  margin: 8px; }

.facebook,
.twitter,
.vector,
.message {
  margin-right: 1.5rem; }

.footer__game__list--information1 {
  margin-inline-end: 1rem;
  margin-right: 3rem; }

.footer__game__link {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  width: 2.5rem; }

.footer__game__link1 {
  display: flex;
  text-decoration: none;
  color: #FFFFFF; }

.footer__game__list {
  display: flex; }

.footer__game__list--communication {
  text-indent: -9999px; }

.facebook {
  background-image: url(../css/images/facebook.png);
  background-repeat: no-repeat;
  margin-inline-start: 0; }

.twitter {
  background-image: url(../css/images/twitter.png);
  background-repeat: no-repeat; }

.vector {
  background-image: url(../css/images/vector.png);
  background-repeat: no-repeat; }

.message {
  background-image: url(../css/images/twitch.png);
  background-repeat: no-repeat; }

.footer__game__navigation__security {
  list-style: none;
  padding-bottom: 1rem; }

.footer__game__list__security {
  color: #FFFFFF;
  list-style: none;
  font-family: open-sans;
  line-height: 34px;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.footer__game__link__security {
  text-decoration: none;
  color: white; }

.footer__game__container {
  border-bottom: gray 1px solid;
  padding-block-end: 1rem; }

@media (min-width: 1100px) {
  .footer__game__container {
    display: block; }
  .footer__game {
    padding-top: 1rem; }
  .footer__game__image__container {
    float: left; }
  .footer__image {
    max-width: 30%; }
  .footer__game__list__security {
    color: #FFFFFF;
    list-style: none;
    font-family: open-sans;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 0.1em; }
  .footer__image {
    padding-bottom: 2rem; }
  .footer__game__image__container {
    padding-block-start: 0; }
  .footer__game__lists__of__security {
    display: flex; }
  .footer__game__container2 {
    display: flex;
    justify-content: space-between; }
  .footer__game__navigation__security {
    margin-inline-end: 4rem; }
  .footer__link__container {
    display: flex;
    justify-content: space-between; }
  .footer__game__navigation__comunication {
    margin-inline-end: 2rem; } }
