@font-face {
  font-family: bebas-neue;
  font-weight: 400;
  font-style: normal;
  src: url(../css/fonts/bebas-neue1.woff) format("woff"); }

.masthead {
  background-image: url(../css/images/bg-jungleruins.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  background-size: cover;
  padding-inline-start: 1rem;
  padding-block-start: 1rem; }

.logo__game__title {
  font-family: bebas-neue;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 18px;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 33px;
  line-height: 33px; }

.logo-navigation {
  background-repeat: no-repeat; }

.logo__game__button {
  background-color: #f8b12d;
  border-radius: 5px;
  width: 216px;
  font-weight: 700; }

.masthead__secondpart {
  text-align: center; }

.logo__game__lists {
  list-style: none;
  display: flex; }

.logo__game__list {
  margin: 8px; }

.logo__game__paragraph {
  background-image: url(../css/images/scroll_down.png);
  background-repeat: no-repeat;
  background-position: 15px 20px;
  max-width: 100px;
  height: 32px;
  text-transform: uppercase;
  font-family: bebas-neue;
  position: relative;
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 2px; }

.logo__game__navigation {
  margin-inline-end: 1rem; }

.logo__game__subtitle {
  font-family: bebas-neue;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  justify-content: center;
  text-align: center;
  position: relative; }

.logo__navigation__list {
  display: flex; }

.logo__game__header {
  width: 100px;
  height: 50px; }

.logo__link_main,
.logo__link_about,
.logo__link_feature,
.logo__link_system,
.logo__link_quote {
  display: none; }

.logo__game__header {
  background-image: url(../css/images/logo.svg);
  background-repeat: no-repeat;
  text-indent: -999px;
  text-decoration: none;
  display: block; }

.game__languages__choice {
  float: right;
  position: relative;
  bottom: 80px;
  right: 100px; }

.game__box__union {
  display: none; }

select {
  color: white;
  background-color: transparent;
  border: transparent;
  top: 0; }

svg {
  position: absolute;
  top: 16px;
  right: 2rem; }

.masthead__thirdpart {
  display: flex;
  justify-content: space-between; }

.bar {
  float: right;
  bottom: 80px;
  position: relative;
  right: 10px; }

body {
  margin: 0; }
